body{
  background-color: white;
}
.navbar{
  background-color: rgb(221, 245, 245);
}
.navbar{
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
.navbar-default  , .navbar-toggle {
  border-color:  rgb(221, 245, 245);;
}

/*-------------------------Homepage--------------*/
#map {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100%;
    height:100%;
    height:auto;
    background-repeat: no-repeat;
    background-position: center center;


}
.fill {
    min-height: 100%;
    height: 100%;

}
.logo {
  background-image: url("../img/2.jpg");
  background-position: center;
  background-size: cover;;
  position: absolute;
  top: 0;
  min-height: 100% ;
  height: 100%;
  width: 100%;

}
.logo img {
  display: block;
  width: 100%;
  position: relative;
  top: 40%;
  margin: -100px auto 0;

}
#logo-theme
{
  display:block;
  margin-left:auto;
  margin-right:auto;

}
.heroContent{
  display: block;
  width: 70%;
  position: relative;
  top: 40%;
  text-align: center;
  margin: -100px auto 0;
}
.text{

  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  color: black;
  margin-bottom: 50px;
}
.logo hr{
  margin-top: 0;
  border-top: 2px solid black;
}
.logo a{
  width: 100%;
  font-size: 1.2em
}

.content img{
  margin:0 auto;
  width: 3em;
}
/*-------------------------Dashboard----------------------------------*/
.db{
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000;
  padding: 1em;
  margin: 0.5em 0;
  color: black;

}

/*--------------------------toilet-------------------------------*/
.toilet{
  margin: 0 auto;
  padding: 1.5em;
  background-color: white;
  border-bottom: 1px solid #000;
}
.toilet img{
  width: 70%;
  margin-left: 15%;
}
.toilet a{
  width: 5em;
}
.toilet h3{
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-align: center;
}
.votes i{
  font-size: 1em;
}
.votes p{
  margin-top:1em;
  text-align: center;
  font-size: 1.5em;
}


.toilet .adress p{
  margin: 4em 0 0 0;
}
/*-------------------------------MAP & detail--------------------------------*/
.full{
  width: 100%;
}
.gm-style img {
    display:  flex !important;
    width: 10em;
}
.gm-style-iw{
  top: 0  !important;
  left: 22px  !important;
}
.vote{
  width: 50%;
  float: left;
  margin: 5em 0
}
.EditDelete{
margin: -4em 1em 1em 1em;

}
.EditDelete a{
  width: 5em;
}

.delete{
     position: absolute;
     right: 0;
 }
.more{
  margin-bottom: 0 !important;
}





/*-------------------------App.css------------------------------*/
.btn-primary{
  border-radius: 0;
  width: 100%;
  color: white;
  background: rgb(50, 73, 87);
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  padding: 0.6em;
  margin: 2em 0;
}
.btn-primary:hover{
  color: white;
  background-color: #165B75;
}
.btn-primary.active, .btn-primary:active {
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}





.card {
  width: 100%;
  margin-bottom: 0rem  !important;
}

.card-info {

  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.5rem;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.card-title {
  font-size: 2em;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card-icon {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: right;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-author {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

}

.card-stats {
  width: 2em;
  justify-self: right;
}
.material-icons {
  font-size: 1em !important;
}
.accessible{
  margin: 0.5em;
  position: absolute;
}
.card-img{
  width: 100%;
}
.mainTitle{
  margin: 0 1em;
 }




