body{
  background-color: #EEEEF7;
}
.navbar{
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
.navbar-default  , .navbar-toggle, {
  border-color: white;
}

/*-------------------------Homepage--------------*/
#map {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100%;
    height:100%;
    height:auto;
    background-repeat: no-repeat;
    background-position: center center;


}
.fill {
    min-height: 100%;
    height: 100%;

}
.logo {
  background-image: url("../img/2.jpg");
  background-position: center;
  background-size: cover;;
  position: absolute;
  top: 0;
  min-height: 100% ;
  height: 100%;
  width: 100%;

}
.logo img {
  display: block;
  width: 100%;
  position: relative;
  top: 40%;
  margin: -100px auto 0;

}
#logo-theme
{
  display:block;
  margin-left:auto;
  margin-right:auto;

}
.heroContent{
  display: block;
  width: 70%;
  position: relative;
  top: 40%;
  text-align: center;
  margin: -100px auto 0;
}
.text{

  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  color: black;
  margin-bottom: 50px;
}
.logo hr{
  margin-top: 0;
  border-top: 2px solid black;
}
.logo a{
  width: 100%;
  font-size: 1.2em
}
/*-------------------------Dashboard----------------------------------*/
.db{
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000;
  padding: 1em;
  margin: 0.5em 0;
  color: black;

}

/*--------------------------toilet-------------------------------*/
.toilet{
  margin: 0 auto;
  padding: 1.5em;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #000;
}
.toilet img{
  width: 100%;
}
.toilet a{
  width: 5em;
}
/*-------------------------------MAP & detail--------------------------------*/
.onetoilet .full{
  width: 100%;
}
.gm-style img {
    display:  flex !important;
    width: 50%;
    float: left;
}








/*-------------------------App.css------------------------------*/
.btn-primary{
  border-radius: 0;
  width: 100%;
  color: white;
  background-color: #008CBA;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  margin: 2em 0;
}
.btn-primary:hover{
  color: white;
  background-color: #009CBC;
}
.btn-primary.active, .btn-primary:active {
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}



.content{
  display: block;
}
.infoContent{
  display: none;
}


@media (min-width:768px) {

  .content{
    display: none;
  }
  .infoContent{
    display: block;
  }
  body{
    background-color: transparent;
  }


  header.masthead {
    background: url('../img/bg2.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  header.masthead>.overlay {
    padding: 5em 0;
    height: 40em;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
  }
  .logoD{
    height: 30px;
  }
  .infoHeroContent{
    display: block;
    width: 30%;
    position: relative;
    top: 10em;
    text-align: center;
    margin: -100px auto 0;
    z-index: 10;
  }
  .infoHeroContent img{
    width: 100%
  }













}
