
.navbar{

    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
/*Homepage*/
#map {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100%;
    height:100%;
    height:auto;
    opacity: .50;
    filter: alpha(opacity=65);
    background-repeat: no-repeat;
    background-position: center center;

}
.fill {
    min-height: 100%;
    height: 100%;
}
.logo {
  position: absolute;
  min-height: 90%;
  height: 90% ;
  width: 100%;
}
.logo img {
  display: block;
  width: 70%;
  position: relative;
  top: 40%;
  margin: -100px auto 0;
}
#logo-theme
{
  display:block;
  margin-left:auto;
  margin-right:auto;

}
.text{
  display: block;
  width: 70%;
  position: relative;
  top: 60%;
  text-align: center;
  margin: -100px auto 0;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: blue;
}
.logo a{
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 2.6em;
  position: relative;
  top: 70%;
  text-align: center;
}
.btn-primary{
  border-radius: 0;
  background-color: white;
  border: 2px black solid;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
.btn-primary:hover{

  background-color: lightgrey;
  color: black;

  border: 2px black solid;
}










/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: @screen-lg-min) {

}
